# build output
dist/
.astro/

# deps
node_modules/

# env / OS
.env
.env.*
!.env.example
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
